/* HEADER ==================== */
#page {
    --personal-header-height: var(--34px);
    --header-height: var(--72px);
}

/* Personal Header */
#personal-header {
    background-color: var(--color-black);
    color: var(--color-white);
    height: var(--personal-header-height);
}

#personal-header .menu {
    height: var(--34px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--color-purple);
    height: var(--header-height);
    z-index: 99;
}

.header-nav {
    display: flex;
    padding: var(--spacing-14) var(--spacing-20);
    grid-gap: var(--spacing-30);
    align-items: center;
}

html.no-touchevents .header-nav a:hover {
    opacity: 0.7;
}

/* Logo */
.header-nav .header-logo .logo {
    height: var(--44px);
    display: block;
    filter: var(--filter-white);
}

.header-nav .header-logo .logo img {
    height: 100%;
    width: auto;
}

/* Menu */
.header-nav .header-menu {
    flex-grow: 1;
}

.header-nav .header-menu .menu {
    display: flex;
    grid-gap: var(--spacing-40);
    align-items: center;
    color: var(--color-white);
}

.header-nav .header-menu .menu li > a {
    display: flex;
    align-items: center;
    grid-gap: var(--spacing-8);
}

.header-nav .header-menu .menu .breadcrumb-trigger.active a .ic {
    transition: var(--duration) var(--timing-function);
}
html.no-touchevents
    .header-nav
    .header-menu
    .menu
    .breadcrumb-trigger.active
    a
    .ic {
    transform: rotate(180deg);
}

html.no-touchevents
    .header-nav
    .header-menu
    .menu
    .breadcrumb-trigger.active
    a {
    opacity: 0.7;
}

/* Search */
.header-search-bar .magnifying-glass {
    color: var(--color-black-t30);
    position: absolute;
    top: 50%;
    left: var(--spacing-14);
    transform: translateY(-50%);
}

.header-search-bar .label {
    color: var(--color-black-t30);
    left: var(--spacing-36);
    font-size: var(--font-size-subtitle3);
    line-height: var(--line-height-subtitle3);
}

.header-search-bar .input {
    background-color: var(--color-white);
    border-radius: var(--20px);
    padding: 0 var(--spacing-14);
}

.header-search-bar .input input {
    padding-left: 1.5em;
}

@media (min-width: 768px) {
    .header-search-bar .input {
        padding: var(--spacing-6) var(--spacing-14);
    }
}

/* System Icon */
.header-nav .system-icon .icon-link {
    display: block;
    color: var(--color-orange);
    position: relative;
}

.header-nav .system-icon .icon-link .ic::before {
    font-size: var(--icon-size-30);
}

.header-nav .system-icon .icon-link.cart .cart-amount {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-size: var(--font-size-overline);
    line-height: var(--line-height-overline);
}

@media (width <= 767px) {
    #page {
        --header-height: var(--60px);
        --search-height: var(--44px);
    }

    html.page-scrolling #page {
        --header-search-height: var(--44px);
    }

    /* Navbar */
    .navbar {
        position: fixed;
        width: 100vw;
        background-color: var(--color-purple);
    }

    .header-nav {
        height: var(--header-height);
        grid-gap: var(--spacing-16);
    }

    /* Logo */
    .header-nav .header-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-nav .header-logo .logo {
        height: var(--32px);
        width: fit-content;
        filter: unset;
        margin: 0 auto;
    }

    /* Panel */
    .header-menu .panel {
        position: fixed;
        top: 0;
        left: 0;
        width: min(72.05128205128vw, 500px);
        height: 100dvh;
        max-height: 100dvh;
        overflow: hidden;
        background-color: rgba(var(--color-orange-rgb), 0.95);
        z-index: 100;
        transform: translateX(-100%);
        transition: transform var(--duration-x2) cubic-bezier(0.83, 0, 0.17, 1);
        display: grid;
        grid-template-rows: auto 1fr;
    }

    .header-menu .panel-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 90;
        width: 100vw;
        height: 100vh;
        background-color: rgba(var(--color-black-rgb), 0.75);
        display: flex;
        justify-content: flex-end;
        padding-top: var(--spacing-20);
        padding-right: var(--spacing-20);
        opacity: 0;
        transition: opacity var(--duration) var(--timing-function);
        pointer-events: none;
    }

    html.header-menu-enabled .header-menu .panel {
        transform: translateX(0);
    }

    html.header-menu-enabled .header-menu .panel-overlay {
        opacity: 1;
        pointer-events: auto;
    }

    .header-menu .panel-scroll {
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    }

    /* Menu */
    .header-menu .panel-container {
        padding: 0 var(--page-padding);
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    .header-menu .panel-search .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-14) var(--page-padding);
        height: var(--header-height);
    }

    .header-menu .panel-search .heading .panel-logo {
        height: 100%;
        width: var(--48px);
    }

    .header-menu .panel-search .heading .panel-logo img {
        height: 100%;
        width: 100%;
        filter: var(--filter-white);
    }

    .header-menu .panel-search .icon-link {
        color: var(--color-gray-dark);
    }

    .header-menu .panel-search .header-search-bar .field {
        width: 100%;
    }

    .header-menu .panel-search .header-search-bar .input {
        border-radius: 0;
        width: 100%;
    }

    .header-menu .panel-search .header-search-bar .input input {
        min-width: unset;
    }

    .header-menu .panel-body {
        padding-top: var(--spacing-30);
        padding-bottom: var(--spacing-60);
    }

    .header-nav .header-menu .menu {
        flex-direction: column;
        align-items: flex-start;
        grid-gap: var(--spacing-30);
    }

    .header-menu .panel-footer {
        padding-bottom: var(--spacing-100);
    }

    .header-menu .panel-footer .social-links {
        margin-bottom: var(--spacing-30);
    }

    .header-menu .panel-footer .social-links > a:first-child {
        color: var(--color-pink);
    }

    .header-menu .panel-footer .social-links > a {
        color: var(--color-white);
    }

    .header-menu .panel-footer .store-links {
        padding-left: var(--spacing-24);
        display: flex;
        flex-direction: column;
        grid-gap: var(--spacing-6);
        margin: var(--spacing-6) 0;
    }

    /* Search */
    .header-search {
        width: 100vw;
        position: absolute;
        top: var(--header-height);
        left: 0;
        padding-bottom: var(--spacing-14);
        padding-left: var(--page-padding);
        padding-right: var(--page-padding);
        background-color: var(--color-purple);
        transition: transform var(--duration) var(--timing-function),
            opacity 0.5s var(--timing-function);
        z-index: 10;
    }

    #header-search-mobile {
        position: static;
        padding-top: var(--header-height);
    }

    #header-search-mobile .field,
    #header-search-mobile .field .input {
        width: 100%;
    }

    /* System Icon */
    .header-nav .system-icon .icon-link .ic::before {
        font-size: var(--22px);
    }
}

/* Bread Crumb ==================== */
.breadcrumb {
    width: 100vw;
    padding: var(--spacing-40) var(--page-padding);
    background-color: var(--color-gray-light3);
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.breadcrumb a {
    position: relative;
    display: block;
    width: fit-content;
    font-size: var(--font-size-subtitle2);
    line-height: var(--line-height-subtitle2);
    font-weight: var(--font-weight-bold);
}

html.no-touchevents .breadcrumb a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.breadcrumb-wrapper {
    display: flex;
    grid-gap: var(--spacing-12);
}

.breadcrumb .main-links {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-10);
}

@media (width <= 767px) {
    .breadcrumb {
        display: none !important;
    }
}

/* PRODUCT BREADCRUMB */
#product-breadcrumb .product-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--spacing-12);
    flex-grow: 1;
}

#product-breadcrumb .product-links .col {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-20);
}

#product-breadcrumb .product-links .group .title {
    font-size: var(--font-size-subtitle2);
    line-height: var(--line-height-subtitle2);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-10);
}

#product-breadcrumb .product-links .group .links {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-8);
    padding-left: var(--spacing-8);
}

#product-breadcrumb .product-links .group .links a {
    font-weight: var(--font-weight-regular);
}

#product-breadcrumb .recommend {
    padding-left: var(--page-padding);
    border-left: 1px solid var(--color-gray-light);
    width: 40.7083333333%;
}

#product-breadcrumb .recommend .breadcrumb-recommend-products-grid {
    margin-top: var(--spacing-24);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    column-gap: var(--spacing-12);
    row-gap: var(--spacing-24);
}

@media (width <= 991px) {
    #product-breadcrumb .recommend {
        display: none;
    }
}

/* SHOP BREADCRUMB */
#shop-breadcrumb .main-links {
    width: 19.4861111111%;
}

#shop-breadcrumb .breadcrumb-shop-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: var(--spacing-12);
}

#shop-breadcrumb .breadcrumb-shop-grid .breadcrumb-shop-card {
    display: flex;
    align-items: center;
    grid-gap: var(--spacing-12);
    cursor: pointer;
    position: relative;
    height: var(--spacing-80);
    position: relative;
}

#shop-breadcrumb .breadcrumb-shop-grid .breadcrumb-shop-card .image {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: var(--6px);
}

html.no-touchevents
    #shop-breadcrumb
    .breadcrumb-shop-grid
    .breadcrumb-shop-card:hover
    .image
    img {
    transform: scale(1.1);
    opacity: 0.7;
}

#shop-breadcrumb .breadcrumb-shop-grid .breadcrumb-shop-card .info {
    display: flex;
    flex-direction: column;
    grid-gap: var(--spacing-8);
    justify-content: center;
}

/* JOURNAL BREADCRUMB */
#journal-breadcrumb .main-links {
    width: 19.4861111111%;
}

#journal-breadcrumb .journal-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--spacing-12);
}

@media (max-width: 991px) {
    #journal-breadcrumb .journal-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #journal-breadcrumb .journal-grid .journal-card:nth-child(n + 4) {
        display: none;
    }
}
