@font-face {
    font-family: "iconfont";
    src: url("../../font/iconfont/iconfont.eot");
    src: url("../../font/iconfont/iconfont.eot#iefix")
            format("embedded-opentype"),
        url("../../font/iconfont/iconfont.ttf") format("truetype"),
        url("../../font/iconfont/iconfont.woff") format("woff"),
        url("../../font/iconfont/iconfont.svg#iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="ic-"],
[class*=" ic-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "iconfont" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ic-history:before {
    content: "\e95c";
}
.ic-grid-3x3:before {
    content: "\e959";
}
.ic-grid-4x4:before {
    content: "\e95a";
}
.ic-list-bullet:before {
    content: "\e95b";
}
.ic-facebook-no-bg:before {
    content: "\e958";
}
.ic-page_info:before {
    content: "\e957";
}
.ic-grid_view_fill:before {
    content: "\e956";
}
.ic-magnifying_glass:before {
    content: "\e955";
}
.ic-filter:before {
    content: "\e94f";
}
.ic-grid_view:before {
    content: "\e950";
}
.ic-map-marker:before {
    content: "\e951";
}
.ic-sort_by:before {
    content: "\e952";
}
.ic-user_circle:before {
    content: "\e953";
}
.ic-yoshida_bag:before {
    content: "\e954";
}
.ic-area-o:before {
    content: "\e94d";
}
.ic-bed-o:before {
    content: "\e94e";
}
.ic-close:before {
    content: "\e900";
}
.ic-caret-left:before {
    content: "\e901";
}
.ic-caret-right:before {
    content: "\e902";
}
.ic-caret-up:before {
    content: "\e903";
}
.ic-caret-down:before {
    content: "\e904";
}
.ic-angle-left:before {
    content: "\e905";
}
.ic-angle-right:before {
    content: "\e906";
}
.ic-angle-up:before {
    content: "\e907";
}
.ic-angle-down:before {
    content: "\e908";
}
.ic-chevron-left:before {
    content: "\e909";
}
.ic-chevron-right:before {
    content: "\e90a";
}
.ic-chevron-up:before {
    content: "\e90b";
}
.ic-chevron-down:before {
    content: "\e90c";
}
.ic-arrow-left:before {
    content: "\e90d";
}
.ic-arrow-right:before {
    content: "\e90e";
}
.ic-arrow-up:before {
    content: "\e90f";
}
.ic-arrow-down:before {
    content: "\e910";
}
.ic-play-circle:before {
    content: "\e911";
}
.ic-search:before {
    content: "\e912";
}
.ic-facebook:before {
    content: "\e913";
}
.ic-twitter:before {
    content: "\e914";
}
.ic-instagram:before {
    content: "\e915";
}
.ic-pinterest:before {
    content: "\e916";
}
.ic-youtube:before {
    content: "\e917";
}
.ic-spotify:before {
    content: "\e918";
}
.ic-line:before {
    content: "\e919";
}
.ic-user:before {
    content: "\e91a";
}
.ic-user-o:before {
    content: "\e91b";
}
.ic-heart:before {
    content: "\e91c";
}
.ic-heart-o:before {
    content: "\e91d";
}
.ic-shopping-bag-o:before {
    content: "\e91e";
}
.ic-shopping-bag:before {
    content: "\e91f";
}
.ic-envelope:before {
    content: "\e920";
}
.ic-map-marker-o:before {
    content: "\e921";
}
.ic-clock-o:before {
    content: "\e922";
}
.ic-check:before {
    content: "\e923";
}
.ic-global-o:before {
    content: "\e924";
}
.ic-call-o:before {
    content: "\e925";
}
.ic-bookmark-o:before {
    content: "\e926";
}
.ic-bookmark:before {
    content: "\e927";
}
.ic-vimeo:before {
    content: "\e928";
}
.ic-weibo:before {
    content: "\e929";
}
.ic-messenger:before {
    content: "\e92a";
}
.ic-lineat:before {
    content: "\e92b";
}
.ic-phone:before {
    content: "\e92c";
}
.ic-star:before {
    content: "\e92d";
}
.ic-sliders:before {
    content: "\e92e";
}
.ic-sort:before {
    content: "\e92f";
}
.ic-sign-out:before {
    content: "\e930";
}
.ic-download:before {
    content: "\e931";
}
.ic-download-file:before {
    content: "\e932";
}
.ic-play:before {
    content: "\e933";
}
.ic-calendar:before {
    content: "\e934";
}
.ic-refresh:before {
    content: "\e935";
}
.ic-pause:before {
    content: "\e936";
}
.ic-google:before {
    content: "\e937";
}
.ic-wechat:before {
    content: "\e938";
}
.ic-whatsapp:before {
    content: "\e939";
}
.ic-share-alt-o:before {
    content: "\e93a";
}
.ic-lists:before {
    content: "\e93b";
}
.ic-expand:before {
    content: "\e93c";
}
.ic-muted:before {
    content: "\e93d";
}
.ic-volume:before {
    content: "\e93e";
}
.ic-link:before {
    content: "\e93f";
}
.ic-filter-o:before {
    content: "\e940";
}
.ic-move:before {
    content: "\e941";
}
.ic-linkedin:before {
    content: "\e942";
}
.ic-tiktok:before {
    content: "\e943";
}
.ic-talk:before {
    content: "\e944";
}
.ic-plus:before {
    content: "\e945";
}
.ic-minus:before {
    content: "\e946";
}
.ic-camera:before {
    content: "\e947";
}
.ic-change-up:before {
    content: "\e948";
}
.ic-change-down:before {
    content: "\e949";
}
.ic-close-bold:before {
    content: "\e94a";
}
.ic-upload:before {
    content: "\e94b";
}
.ic-anchan:before {
    content: "\e94c";
}
